﻿
<div class="k-block">
    
    <div id="divCompany" class="form-horizontal">

        <form novalidate>

            <div class="row">
              
                <div class="col-sm-9">
                    <input type="hidden" id="hdnCompanyId" name="CompanyId" value="0" />

                    <div class="form-group">
                        <label for="txtCompanyCode" class="col-sm-4 control-label">Company Code:</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCompanyCode" name="CompanyCode" disabled="disabled" class="form-control k-textbox " placeholder="Company code" readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtCompanyName" class="col-sm-4 control-label k-label">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtCompanyName" name="CompanyName" class="form-control k-textbox" placeholder="Company name" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtWebsite" class="col-sm-4 control-label k-label">Website:</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtWebsite" name="Website" class="form-control  k-textbox" placeholder="Website address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail" class="col-sm-4 control-label k-label">Email:</label>
                        <div class="col-sm-6">
                            <input type="email" id="txtEmail" name="Email" class="form-control  k-textbox" placeholder="Email address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtPhone" class="col-sm-4 control-label k-label">Phone:</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtPhone" name="Phone" class="form-control  k-textbox" placeholder="Mobile number" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtLocation" class="col-sm-4 control-label k-label">Comapny Location:</label>
                        <div class="col-sm-6">
                            <textarea id="txtLocation" name="Location" class="form-control  k-textbox" placeholder="Company location" required="required"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtFax" class="col-sm-4 control-label k-label">Fax:</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtFax" name="Fax" class="form-control  k-textbox" placeholder="Fax number" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtOwnerName" class="col-sm-4 control-label k-label">Owner Name:</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtOwnerName" name="OwnerName" class="form-control  k-textbox" placeholder="Owner name" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtOwnerAddress" class="col-sm-4 control-label k-label">Owner Address:</label>
                        <div class="col-sm-6">
                            <textarea id="txtOwnerAddress" name="OwnerAddress" class="form-control  k-textbox" placeholder="Owner address"></textarea>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label for="txtLogoPath" class="col-sm-3 control-label k-label">Logo Path:</label>
                            <div class="col-sm-8">
                                <input type="text" id="txtLogoPath" name="LogoPath" class="form-control  k-textbox" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtBannerPath" class="col-sm-3 control-label k-label">Banner Path:</label>
                            <div class="col-sm-8">
                                <input type="text" id="txtBannerPath" name="BannerPath" class="form-control  k-textbox" />
                            </div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="button" id="btnSaveChanges" class="btn btn-raised g-bg-cyan">Save Changes</button>
                            <button type="button" id="btnClearFields" class="btn btn-raised">Clear</button>
                            <button type="button" id="btnCloseWindow" class="btn btn-raised">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>




</div>