﻿@{
    ViewBag.Title = "Company";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<script src="~/ViewJS/Organization/Company/Company.js"></script>
 
<div class="k-block">
    <div class="k-header">Company</div>
    <input type="button" id="btnAddNewCompany" value="Add Company" class="btn btn-raised g-bg-cyan" />
    @*<button type="button" id="btnPrintCompanySummary" class="btn btn-primary "><span class="glyphicon glyphicon-print"></span>Print Summary</button>*@


    <div id="gridCompany"></div>


    <div id="wndCompanyInfo" title="Company Info" style="display: none">
        @Html.Partial("Company/_CreateCompany")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        companyManager.init();
    });
</script>