﻿

<div class="k-block">

    <div class="row">


        <div class="col-sm-10">

            <div id="divProductInfo" class="form-horizontal">
                <input type="hidden" id="hdnProductId" name="Id" value="0" />

                <div class="form-group">
                    <label for="txtTestCode" class="col-sm-4 control-label">Test Code:</label>
                    <div class="col-sm-6">
                        <input type="text" id="txtTestCode" name="TestCode" disabled="disabled" class="form-control k-textbox" placeholder="Lab Test Code" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cmbProductCategory" class="col-sm-4 control-label">Category:</label>
                    <div class="col-sm-6">
                        <input id="cmbCategoryId" name="TestCategoryId"  placeholder="Select category..." title="Select Category" />
                        <button type="button" id="btnAddCategory" class="k-button" title="Add New Category"><span class="glyphicon-plus"></span></button>
                    </div>
                </div>


                <div class="form-group">
                    <label for="txProductName" class="col-sm-4 control-label">Test Name:</label>
                    <div class="col-sm-6">
                        <input type="text" id="txProductName" name="TestName" class="form-control k-textbox" placeholder="Test name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CostPrice" class="col-sm-4 control-label">Charge:</label>
                    <div class="col-sm-6">
                        <input type="number" id="ntCostPrice" name="Amount" placeholder="Charge" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtDescription" class="col-sm-4 control-label">Description:</label>
                    <div class="col-sm-6">
                        <textarea id="txtDescription" name="Description" class="form-control" placeholder="Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="showProductPicture" class="col-sm-4 control-label">Test Picture:</label>
                    <div class="col-sm-6">
                        <div id="divProductPicture" style="height: 100px; width: 110px; border: 1px solid">
                            <img alt="Picture" id="showProductPicture" style="height: 100px; width: 110px;"  />
                            
                        </div>
                        <input type="button" id="uploadPictureButton" value="Upload" class="k-button "/>
                        
                        <input type="hidden" id="hdnPictureId" />
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="btnSaveChangesProductInfo" class="btn btn-primary">Save Changes</button>
                    <button type="button" id="btnClearProductInfo" class="btn btn-default">Clear</button>
                    <button type="button" id="btnCloseWindowProductInfo" class="btn btn-default">Close</button>

                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
