﻿
@{
    ViewBag.Title = "Lab Test Information";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/ViewJS/PatientQ/TestInfo/ProductInfo.js"></script>
<script src="~/ViewJS/PatientQ/TestInfo/ProductCategory.js"></script>
<div class="col-sm-12">


    <div class="k-block">
        <div class="k-header">Lab Test Information</div>

        <div id="divGridTestSummary">
            <button type="button" id="btnAddProductInfo" class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span> Add Test</button>
            <br />
            <div id="gridProductInfo"></div>
        </div>


        <div id="wndProductInfo" title="Product Info" style="display: none">
            @Html.Partial("Test/_CreateTestInfo")
        </div>
    </div>
</div>
<div id="wndProductCategory" style="display: none">
    @Html.Partial("~/Views/PatientQ/ProductCategory/_CreateTestCategory.cshtml")
</div>

@*<div id="wndBrand" style="display: none">
        @Html.Partial("~/Views/Brand/_CreateBrand.cshtml")
    </div>*@

@*<div id="wndUploadPicture" style="display: none">
        @Html.Partial("~/Views/PictureUpload/_CreatePictureUpload.cshtml")
    </div>*@

<script type="text/javascript">
    $(document).ready(function () {
        ProductInfoManager.init();
        ProductCategoryManager.init();
        // BrandManager.init();
    });
</script>

