﻿<script src="~/Scripts/lib/MessageBox.js"></script>
<div id="m-box" style="display:none" >
    <ul class="remove-ul-order">
        <li>
            @* <img src="~/Images/loading.gif" alt="Loading..."/>*@
            @*<img src="~/Images/200_s.gif" />*@
            <img id="loadingImg" src="~/Images/Processinghh.gif" width="200" height="200" />
           @* <img src="~/Images/checkmark.gif" />*@

        </li>
        <li>
            <div id="divMessage"></div>
        </li>
    </ul>

</div>
