﻿<ul id="f-menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="#" class="mfb-component__button--main g-bg-cyan">
            <i class="mfb-component__main-icon--resting zmdi zmdi-plus"></i>
            <i class="mfb-component__main-icon--active zmdi zmdi-close"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a href="doctor-schedule.html" data-mfb-label="Doctor Schedule" class="mfb-component__button--child bg-blue">
                    <i class="zmdi zmdi-calendar mfb-component__child-icon"></i>
                </a>
            </li>
            <li>
                <a href="patients.html" data-mfb-label="Patients List" class="mfb-component__button--child bg-orange">
                    <i class="zmdi zmdi-account-o mfb-component__child-icon"></i>
                </a>
            </li>

            <li>
                <a href="payments.html" data-mfb-label="Payments" class="mfb-component__button--child bg-purple">
                    <i class="zmdi zmdi-balance-wallet mfb-component__child-icon"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
