﻿
<footer class="navbar-fixed-bottom">
     
        <div class="col-lg-10">
            <p style="color:darkgreen;font-weight:bold">2018 &copy; HealthClick. Developed by CloudQ Team</p>
        </div>
   
</footer>