﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    @Styles.Render("~/fixed-width-light/CSS")
    @Styles.Render("~/Assets/Styles/CSS")
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/kendo")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")

    



</head>
<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <div class="wrapper theme-1-active pimary-color-red box-layout">
        <!-- Top Menu Items -->
        @*@Html.Partial("_TopNavBar")*@
        @Html.Partial("_Menu")
      
        <div class="page-wrapper">
            <div class="container-fluid pt-25">
                
                @RenderBody()
            </div>

            <!-- Footer -->
            @Html.Partial("_Footer")
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->
    </div>


    @Scripts.Render("~/fixed-width-light/JS")

    @RenderSection("scripts", false)
    @Html.Partial("_BlockMassage")
</body>
</html>

<script type="text/javascript">
    $(".form-control").addClass("k-textbox");
</script>