﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -POS</title>

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/kendo/css")

    @Scripts.Render("~/bundles/jquery")

    @*@Scripts.Render("~/angular")*@
    @Scripts.Render("~/kendo")

    @Scripts.Render("~/bundles/lib")

    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    <link href="~/Content/PosStyle.css" rel="stylesheet" />
    <script src="~/ViewJS/PosCommonHelper.js"></script>
    @*@Scripts.Render("~/bundles/signalr")
        @Scripts.Render("~/ViewJS/App/signalr/onlineChat.js")
        <script src="~/signalr/hubs"></script>*@

    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>*@
    @*@Scripts.Render("~/ViewJS/App/app.js", "~/ViewJS/App/gridColumns.js")*@


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Point of Sale", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">

                @Html.Partial("_Menu")

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @*<div id="titleBar"></div>*@
            <div class="container body-content">
                @*<div id="deskTop"></div>*@
                @RenderBody()

                @Html.Partial("_MessageBox")
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Point of Sale</p>
        </footer>
    </div>


    @RenderSection("scripts", false)

</body>
</html>
<script>
    $(document).ready(function () {
        
        var msgBox = $("#messageBox").data('kendoWindow');
        MessageBox.initMesageWindow('messageBox', '');
        $("#btnOK").click(function () {

            var msg = $("#messageBox").data('kendoWindow');
            msg.close();
        });
        $("#btnErrorOK").click(function () {

            var msg = $("#messageBox").data('kendoWindow');
            msg.close();
        });
    });
</script>
