﻿ 

<!DOCTYPE html>

<html>
<head>
	<title>_Layout_React</title>
    <meta name="viewport" content="width=device-width" />
	<script src="~/Scripts/kendoReact/kendo-react-all.js"></script>

	<link rel="stylesheet" href="~/Scripts/kendoReact/all.css" />
 
</head>
<body>
    <div> 
		@RenderBody()
    </div>

	<script src="~/Scripts/kendoReact/babel.min.js"></script>
	<script src="~/Scripts/kendoReact/react.production.min.js"></script>
	<script src="~/Scripts/kendoReact/react-dom.production.min.js"></script>
	<script src="~/Scripts/kendoReact/prop-types.min.js"></script>
	<script src="~/Scripts/kendoReact/kendo-drawing.js"></script>
	<script src="~/Scripts/kendoReact/kendo-react-intl.js"></script>



</body>
</html>
