﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")


        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/lib")*@



    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Scripts/dist/css/skins/_all-skins.min.css">
    @*<link href="~/Scripts/dist/css/skins/skin-blue-light.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/dist/css/skins/skin-black.min.css" rel="stylesheet" />
    <!-- iCheck -->
   @* <link rel="stylesheet" href="~/Scripts/plugins/iCheck/flat/blue.css">*@



    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link href="~/Scripts/kendoLib/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    @Styles.Render("~/Scripts/kendoLib/kendo/styles/kendo.Bootstrap.min.css")
    <link href="~/Content/PosStyle.css" rel="stylesheet" />

    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/plugins/jQuery/jQuery-2.1.4.min.js"></script>

    @Scripts.Render("~/Scripts/kendoLib/kendo/js/kendo.web.min.js")
    @Scripts.Render("~/bundles/lib")
    @*<script src="~/Scripts/angular.min.js"></script>*@
    @* <script src="~/ViewJS/App/app.js"></script>*@

    <script src="~/Scripts/lib/ajax.controller.js"></script>
    <link href="~/Content/PosStyle.css" rel="stylesheet" />
    <script src="~/ViewJS/PosCommonHelper.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">


    <div class="wrapper">
        @Html.Partial("_header")

        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_LeftSidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                @*<h1>
                        General Form Elements
                        <small>Preview</small>
                    </h1>*@
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    @*<li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>*@
                </ol>
            </section>
            <div  style="margin:0 4%">
                @*<div class="col-sm-1"></div>
                <div class="col-sm-10">*@
                    @RenderBody()
                </div>
                @*<div class="col-sm-1"></div>*@
              
            </div>
          
        </div>
        @Html.Partial("_Footer")

        <div class="control-sidebar-bg"></div>
        @*@Html.Partial("_ControlSidebar")*@
        @*<ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "Index", "Home")</li>
                <li>@Html.ActionLink("Company", "Index", "Company")</li>

            </ul>*@








    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>


    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Scripts/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/Scripts/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Scripts/dist/js/demo.js"></script>*@

    @RenderSection("scripts", false)
</body>
</html>
