﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>HealthClick: @ViewBag.Title</title>

	<link rel="icon" href="favicon.ico" type="image/x-icon">

	@*<link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link href="~/assets/plugins/morrisjs/morris.css" rel="stylesheet" />
	<link href="~/assets/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
	<!-- Wait Me Css -->
	<link href="~/assets/plugins/waitme/waitMe.css" rel="stylesheet" />
	<!-- Bootstrap Select Css -->
	<link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
	<!-- Custom Css -->
	<link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
	<link href="~/assets/css/main.css" rel="stylesheet">
	<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="~/assets/css/themes/all-themes.css" rel="stylesheet" />
	<link href="~/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
	@Styles.Render("~/kendo/css")

	@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/kendoLib/kendo/js/jquery.min.js"></script>
	@Scripts.Render("~/kendo")
	<script src="~/assets/js/pages/ui/notifications.js"></script>
	@Scripts.Render("~/bundles/lib")

	@*@Styles.Render("~/Content/css")*@
	<link href="~/Content/app.css" rel="stylesheet" />

	<!-- Custom CSS -->

	@*<script src="~/Scripts/kendoReact/babel.min.js"></script>
	<script src="~/Scripts/kendoReact/react.production.min.js"></script>
	<script src="~/Scripts/kendoReact/react-dom.production.min.js"></script>
	<script src="~/Scripts/kendoReact/prop-types.min.js"></script>
	<script src="~/Scripts/kendoReact/kendo-drawing.js"></script>
	<script src="~/Scripts/kendoReact/kendo-react-intl.js"></script>
	<script src="~/Scripts/kendoReact/kendo-react-all.js"></script>

	<link rel="stylesheet" href="~/Scripts/kendoReact/all.css" />*@


</head>

<body class="theme-cyan">
	<!-- Page Loader -->
	<div class="page-loader-wrapper">
		<div class="loader">
			<div class="preloader">
				<div class="spinner-layer pl-cyan">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<p>Please wait...</p>
		</div>
	</div>
	<!-- #END# Page Loader -->
	<!-- Overlay For Sidebars -->
	<div class="overlay"></div>
	<!-- #END# Overlay For Sidebars -->
	<!-- #Float icon -->
	@Html.Partial("_FloatMenu")
	<!-- #Float icon -->
	<!-- Morphing Search  -->
	@*@Html.Partial("_Search")*@
	<!-- Top Bar -->
	@Html.Partial("_TopNavBar")
	<!-- #Top Bar -->
	<section>
		<!-- Left Sidebar -->
		@Html.Partial("_LeftSidebar")
		<!-- #END# Left Sidebar -->
		<!-- Right Sidebar -->
		@*@Html.Partial("_LeftSidebar")*@


		<!-- #END# Right Sidebar -->
	</section>

	<section class="content home">
		@RenderBody()
		@RenderSection("scripts", false)
	</section>

	<div class="color-bg"></div>

	<!-- Jquery Core Js -->
	@*<script src="~/assets/bundles/morphingsearchscripts.bundle.js"></script>*@ <!-- morphing search Js -->
	<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

	<script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
	<script src="~/assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js -->

	<script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
	@*<script src="~/assets/bundles/morphingscripts.bundle.js"></script>*@<!-- morphing search page js -->

	<script src="~/assets/js/pages/charts/sparkline.min.js"></script>
	<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script> <!-- Bootstrap Notify Plugin Js -->
	<script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
	<script src="~/assets/js/pages/ui/notifications.js"></script>
	<script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>