﻿


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>HealthClick: @ViewBag.Title</title>
    @*<link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom Css -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/assets/css/login.css" rel="stylesheet">

    <!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/assets/css/themes/all-themes.css" rel="stylesheet" />
    @Styles.Render("~/kendo/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/kendo")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")

    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body class="ls-closed">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../Home/Home"> <img src="~/Images/logo/logo.png" class="logo-img" /></a>

            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="../Home/Home">Home</a></li>
                <li><a href="../PatientQ/PatientProfile">My Profile</a></li>
                <li><a href="../PatientQ/PatientDoctors">My Doctor List</a></li>
                <li><a href="../PatientQ/PatintPrescriptions">Recent Prescription</a></li>



            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="../Home/LoginPatient">LogOut</a></li>
                
            </ul>
        </div>
    </nav>

    <div class="">

        @RenderBody()
        @Html.Partial("_Footer")

    </div>
    @*<div class="theme-bg"></div>*@

    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    @*<script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>*@

    @RenderSection("scripts", false)
    @*@Html.Partial("_MessageBox")*@


</body>
</html>