﻿
<div class="menu">
    <ul class="list">
        <li class="header" style="background: #b70505; ">MAIN NAVIGATION</li>
        <li class="active open"><a href="#"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
        <li>

            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-settings"></i><span>Settings</span> </a>

            <ul class="ml-menu">
                <li>@Html.ActionLink("Company", "CompanyIndex", "Organization")</li>
                <li>@Html.ActionLink("User Settings", "Users", "Core")</li>
                <li>@Html.ActionLink("Menu Settings", "Menu", "Core")</li>
                <li>@Html.ActionLink("Role Settings", "Role", "Core")</li>
                <li>@Html.ActionLink("Change Password", "ChangePassword", "Core")</li>

            </ul>

        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-calendar-check"></i><span>Appointment</span> </a>
            <ul class="ml-menu">
                @*<li><a href="../PatientQ/DoctorSchedule">Doctor Schedule</a></li>
                <li><a href="../PatientQ/Appointment">Book Appointment</a></li>*@
                <li> <a href="../PatientQ/SerialBooking">Book Appointment</a></li>
                <li> <a href="../PatientQ/PatientWaiting">Doctor Visiting</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-group"></i><span>Master</span> </a>
            <ul class="ml-menu">
                <li><a href="../PatientQ/Doctor">Doctors</a></li>
                <li><a href="../PatientQ/Patient">Patients</a></li>
                <li><a href="../PatientQ/TestInfo">Test Information</a> </li>

            </ul>
        </li>
         
        
        <li>

            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-balance-wallet"></i><span>Transaction</span> </a>
            <ul class="ml-menu">

                <li>
                    <a href="../PatientQ/PatientTest">Payment Invoice</a>
                </li>

            </ul>

        </li>
      
       
        <li>

            <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-file-text"></i><span>Reports</span> </a>
            <ul class="ml-menu">

                <li>
                    <a href="#" onclick="ProductSalesManager.onClickStatementWind()">Daily Sales Statement</a>
                </li>

            </ul>

        </li>

    </ul>
</div>


@*<script id="tmplNavigationMenu" type="text/x-kendo-template">




    </script>*@