﻿@{
    string user = "";
    if (Session["CurrentUser"] != null)
    {
        user = ((CloudQ.Core.Model.DTOs.Core.CoreUsersDto)Session["CurrentUser"]).UserName;

    }
}



<div class="user-info">
    <div class="admin-image"> <img src="~/assets/images/random-avatar7.jpg" alt=""> </div>
    <div class="admin-action-info">
        <span>Welcome</span>
        <h3>@user</h3>
        <ul>
            <li><a data-placement="bottom" title="Go to Inbox" href="../Notification/MailInbox"><i class="zmdi zmdi-email"></i></a></li>
            <li><a data-placement="bottom" title="Go to Profile" href="../Core/UserProfile"><i class="zmdi zmdi-account"></i></a></li>
            <li><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings"></i></a></li>
            <li><a data-placement="bottom" title="Full Screen" href="../Home/Login"><i class="zmdi zmdi-sign-in"></i></a></li>
        </ul>
    </div>
    @*<div class="quick-stats">
        <h5>Today Report</h5>
        <ul>
            <li><span>16<i>Patient</i></span></li>
            <li><span>20<i>Panding</i></span></li>
            <li><span>04<i>Visit</i></span></li>
        </ul>
    </div>*@
</div>
