﻿
<script src="~/ViewJS/Core/Login/Login.js"></script>

<div class="login-page">
    <div class="card">
        <h1 class="title">Login <span class="msg">Sign in to @ViewBag.UserType</span></h1>
        <input type="hidden" id="loginType" value="@ViewBag.UserType" />
        <div class="col-md-12">

            <div class="input-group">
                <span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="username" id="txtLoginId" placeholder="Username" required autofocus>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="password" id="txtpassword" placeholder="Password" required>
                </div>
            </div>
            <div>
                <div class="">
                    <input type="checkbox" name="rememberme" id="chkRememberMe" class="filled-in chk-col-pink">
                    <label for="rememberme">Remember Me</label>
                </div>
                <div class="text-center">
                    <button id="btnLogin" class="btn btn-raised waves-effect g-bg-cyan">SIGN IN</button>
                    @*@if (@ViewBag.UserType == "Doctor")
                    {
                        <label>Are you a Doctor and still not on this system? Please  @Html.ActionLink("Sign Up", "DoctorRegistration", "PatientQ") NOW!</label>
                    }
                    else if (@ViewBag.UserType == "Patient")
                    {
                        <label>Are you a Patient and still not on this system? Please  @Html.ActionLink("Sign Up", "PatientRegistration", "PatientQ") NOW!</label>

                    }
                    else if (@ViewBag.UserType == "Admin")
                    {
                        <label>Are you a Hospital/Diagonstic center Admin and still not on this system? Please  @Html.ActionLink("Sign Up", "HospitalRegistration", "PatientQ") NOW!</label>

                    }*@

                </div>
                <div class="text-center">
                    @Html.ActionLink("forgot password ?", "Forgot", "Home")
                </div>
            </div>
        </div>
    </div>

</div>