﻿
<div id="divMenuArea">


    <ul id="manuBar">
        @*<li>Welcome to @userName</li>*@

        
        @*<li>@Html.ActionLink("Log Out", "Login", "Home")</li>*@
        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

        <li>
            Core Settings
            <ul>
                <li>@Html.ActionLink("Company", "CompanyIndex", "Organization")</li>
                <li>@Html.ActionLink("User Settings", "Users", "Core")</li>
                <li>@Html.ActionLink("Menu Settings", "Menu", "Core")</li>
                <li>@Html.ActionLink("Role Settings", "Role", "Core")</li>
                <li>@Html.ActionLink("Change Password", "ChangePassword", "Core")</li>

            </ul>

        </li>
        <li>
            Master Settings
            <ul>
                <li>@Html.ActionLink("Doctor", "Doctor", "PatientQ")</li>
                <li>@Html.ActionLink("Patient", "Patient", "PatientQ")</li>
                <li>@Html.ActionLink("Test", "TestInfo", "PatientQ")</li>
                <li>@Html.ActionLink("Serial Booking", "SerialBooking", "PatientQ")</li>

                <li>@Html.ActionLink("Patient Waiting List", "PatientWaiting", "PatientQ")</li>

            </ul>

        </li>
        <li>
            Transaction

            <ul>
                <li>@Html.ActionLink("Patient Test", "PatientTest", "PatientQ")</li>

            </ul>

        </li>


    </ul>
</div>
<script>
    $(document).ready(function() {
        $("#divMenuArea").show();
        $("#manuBar").kendoMenu({
            orientation: 'horizontal'
        });


    });
</script>
