﻿<div id="divMenuArea">


    <ul id="manuBar">

        <li>@Html.ActionLink("Home", "Index", "Home")</li>

        <li>
            Core Settings
            <ul>
                <li>@Html.ActionLink("Company", "Company", "Org")</li>
                <li>@Html.ActionLink("User Settings", "Users", "Core")</li>
                <li>@Html.ActionLink("Menu Settings", "Menu", "Core")</li>
                <li>@Html.ActionLink("Role Settings", "Role", "Core")</li>
            </ul>

        </li>
        <li>
            Data Migration
            <ul>
               
                <li>@Html.ActionLink("Bill Upload", "BillUpload", "ServiceQ")</li>
             
            </ul>

        </li>
        <li>
            Transaction

            <ul>
                <li>@Html.ActionLink("Bill Collection", "BillCollection", "ServiceQ")</li>
                <li>@Html.ActionLink("Bill Verification", "BillVerification", "ServiceQ")</li>
            </ul>

        </li>
        <li>
            Reports

            <ul>
                <li>@Html.ActionLink("Sub Ledger", "SubLedger", "ServiceQ")</li>
                 
            </ul>

        </li>

    </ul>
</div>
<script>
    $(document).ready(function () {
        $("#divMenuArea").show();
        $("#manuBar").kendoMenu({

        });


    });
</script>