﻿
<div id="messageBox" style="padding: 0em !important; display: none;">
    <div class="alert alert-success alert-dismissable" id="success">
        <button type="button" id="btnOK" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
        <img src="~/Images/Processing.gif" id="processing" class="successMessageIndicator" />

        <img src="~/Images/checkbox.png" id="nike" class="successMessageIndicator" />
        <p id="messageText" class="successMessageIndicator" style="display: inline-block"></p>
    </div>

    <div class="alert alert-danger alert-dismissable" id="error" style="display: none">
        <button type="button" id="btnErrorOK" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>

        <p id="errormessageText" class="" style="display: inline-block"></p>
    </div>
</div>