﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/apps/modules/core/menubar/menubar.component.css" rel="stylesheet" />

    <title>_ngLayout</title>
</head>
<body ng-app="root" ng-cloak>
    <menu-bar></menu-bar>
    <div ng-app="app" ng-cloak>
        @RenderBody()
    </div>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>*@
    <!-- Angular Material Library -->
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/apps/app.js"></script>
    <script src="~/apps/config/theme.config.js"></script>
    <script src="~/apps/components/buttons/save.button.component.js"></script>
    <script src="~/apps/modules/core/menubar/menubar.component.js"></script>

  
@*<script type="text/javascript">

            /**
             * You must include the dem6666k65m5nnnnnnnnn5  f f dspendency on 'ngMaterial'
             */
            angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
        </script>*@
    
</body>
</html>
