﻿@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/Users/UserSummary.js")
<div class="leftDiv widthSize64_per">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">User Summary</legend>

        <div class="divDetails">
            <ul>
                <li>
                    <label for="cmbCompanyNameForSummary" class="lbl widthSize30_per">SBU:</label>
                    <input id="cmbCompanyNameForSummary" onchange="userSummaryHelper.CompanyIndexChangeEvent()" value="" />
                </li>
            </ul>
        </div>
        <div id="gridUser"></div>

    </fieldset>
    <div class="clear"></div>
</div>