﻿@{
    ViewBag.Title = "User Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/Users/UserSettings.js")

<div class="mainDiv">

    <h2 class="k-header">User Settings</h2>
    @Html.Partial("SystemAdmin/Users/_UserUpload")
    <div class="clear"></div>

    @Html.Partial("SystemAdmin/Users/_UserSummary")
    @Html.Partial("SystemAdmin/Users/_UserDetails")
    <div class="clear"></div>
</div>

