﻿@{
    ViewBag.Title = "_PetientQueue";
    
}



<script src="~/ViewJS/PatientQ/Prescription/PatientQueue.js"></script>

<div id="divPataintQueue" class="k-block">
    <div class="k-header">Petient Waiting List</div>
    <div id="gridPatient"></div>
    <div class="clear"></div>
</div>
<div id="divPrescription" style="display: none">
    @Html.Partial("~/Views/PatientQ/Prescription/Prescription.cshtml")
</div>