﻿

<script src="~/ViewJS/PatientQ/Prescription/Prescription.js"></script>
<div class="col-md-12">
    <div class="k-block">
        <div class="k-header">
            Make Prescription
            <button type="button" id="btnSaveChanges" class="btn btn-raised g-bg-cyan">Submit</button>
        </div>


        <div class="col-md-6">
            <div class="k-block">
                @*<div class="k-header">Search Medicine</div>*@

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">Search By Symptom:</label>
                        <div class="col-md-9">
                            <div id="msSymptom"></div>
                        </div>
                    </div>
                </div>

                <div class="col-nd-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">Formulation:</label>
                        <div class="col-md-9">
                            <input id="cmbFormulation" />
                        </div>
                    </div>
                </div>
                <div class="col-nd-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">Generic:</label>
                        <div class="col-md-9">
                            <input id="cmbGeneric" />
                        </div>
                    </div>
                </div>
                <div class="col-nd-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">Category:</label>
                        <div class="col-md-9">
                            <input id="cmbCategory" />
                        </div>
                    </div>
                </div>
                <div class="col-nd-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">Search By Medicine Name:</label>
                        <div class="col-md-8">

                            <input id="txtSearchMedicine" value="" type="text" placeholder="Search medicine..." class="k-textbox" />

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    @*<div class="k-header">
                        Medicine List
                    </div>*@
                    <div id="gridMedicine"></div>


                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="k-block">
                @*<div class="k-header">Prescription</div>*@

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">Patient No:</label>
                        <div class="col-md-12">
                            <p class="form-control-static" id="lblPatientNo"> </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">Patient Name:</label>
                        <div class="col-md-12">
                            <p class="form-control-static" id="lblPatientName"> </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">Gender:</label>
                        <div class="col-md-12">
                            <p class="form-control-static" id="lblPatientSex"> </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">Age:</label>
                        <div class="col-md-12">
                            <p class="form-control-static" id="lblPatientAge"> </p>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>


            <div class="col-md-12">


                <div class="k-block">
                    <div class="k-header">

                        <label class="">Prescribe Medicine</label>
                    </div>
                    <div id="gridPrescription"></div>

                    <div class="clear"></div>
                </div>


            </div>

        </div>

        <div class="clear"></div>
    </div>

</div>


@*<script id="rowTemplate" type="text/x-kendo-tmpl">
        <tr data-uid="#: uid #">
            <td class="photo">
                <img src="../content/web/Employees/#:data.EmployeeID#.jpg" alt="#: data.EmployeeID #" />
            </td>
            <td class="details">
                <span class="name">#: MedicineName# #: LastName# </span>
                <span class="title">Title: #: Title #</span>
            </td>
            <td class="country">
                #: Country #
            </td>
            <td class="employeeID">
                #: EmployeeID #
            </td>
        </tr>
    </script>*@


@*<style type="text/css">
        .k-combobox {
            width: 140%;
        }
    </style>*@