﻿

<div class="col-md-3">
</div>
<div class="col-md-6">
    <div class="card">
        <div class="body">
            <div class="row clearfix" id="divDoctor">

                <input type="hidden" id="SerialBookingId" name="SerialBookingId" value="0" />
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="cmbDoctorName" class="col-sm-4 control-label">Doctor Name:</label>
                        <div class="col-sm-8">
                            <input id="cmbDoctorName" name="DoctorName" required title="Doctor name is required" placeholder="Enter Doctor name" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtSerialDate" class="col-sm-4 control-label">Booking Date:</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtSerialDate" name="SerialDate" placeholder="Select Date" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtSerialNo" class="col-sm-4 control-label">Serial No:</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtSerialNo" name="SerialNo" class="k-textbox" disabled="" />
                        </div>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">

                        <div class="col-sm-8">
                            <input type="button" id="btnGetSerial" class="btn btn-raised g-bg-cyan" value="Generate Serial" />
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtContactNo" class="col-sm-4 control-label">Contact No:</label>
                        <div class="col-sm-8  form-line">
                            <input type="text" id="txtContactNo" name="ContactNo" class="k-textbox" placeholder="Enter mobile number" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtPatientName" class="col-sm-4 control-label">Patient Name:</label>
                        <div class="col-sm-8 form-line">
                            <input type="text" id="txtPatientName" name="PatientName" class="k-textbox" placeholder="Patient Name" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="button" id="btnSaveChanges" class="btn btn-raised g-bg-cyan">Book</button>
                            <button type="button" id="btnClear" class="btn btn-raised">Clear</button>
                            <button type="button" id="btnCloseWindow" class="btn btn-raised">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<div class="col-md-3">
</div>



