﻿
@{
    ViewBag.Title = "Serial Booking";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/PatientQ/SerialBooking/SerialBooking.js"></script>


<div class="k-block">
    <div class="k-header">Patient Serial Booking</div>
    <button type="button" id="btnAddSerial" class="btn btn-raised g-bg-cyan" title="Add Serial"><span class="glyphicon glyphicon-plus"></span>Add New Serial</button>

    
    <br />
    <br />
    <div id="divSummary">
        <div id="gridSerialBooking"></div>
    </div>
    <div class="col-sm-6">



        <div id="wndDoctorInfo" title="Serial Info" style="display: none;">
            @Html.Partial("SerialBooking/_SerialBookingDetails")
        </div>

    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        serialBookingManager.init();
    });
</script>