﻿


<div class="k-block" id="divDesignation">
    <div class="row">
        <div class="col-sm-12"></div>
        <div class="col-sm-offset-2 col-sm-6">
            <div id="divDesignationId" class="form-horizontal">
                <input type="hidden" id="hdnDesignationId" name="DesignationId" value="0" />

                <div class="form-group">
                    <label for="txtDesignationName" class="col-sm-3 control-label">Designation Name:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtDesignationName" name="DesignationName" class="form-control" placeholder="Insert Designation Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="UseDesignation" class="col-sm-3 control-label">IsActive:</label>
                    <div class="col-sm-7">
                        <input type="checkbox" id="chkUseDesignation" name="UseDesignation" />
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

            <div class="col-sm-offset-5 col-sm-8">
                <button type="button" id="btnSaveChangesDesignation" class="btn btn-primary">Save Changes</button>
                <button type="button" id="btnClearDesignation" class="btn btn-default">Clear</button>
                <button type="button" id="btnCloseWindowDesignation" class="btn btn-default">Close</button>

            </div>
        </div>
    </div>
</div>

