﻿@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/Designation/Designation.js"></script>

<div>
    <input type="button" id="btnAddDesignation" value="Add Designation" class="btn btn-primary" />

    <div id="gridDesignation"></div>
    <div id="wndDesignation" title="Designation" style="display: none">
        @Html.Partial("_CreateDesignation")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        DesignationManager.init();
    });
</script>
