﻿@{
    ViewBag.Title = "System Settings";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/eAzolution/Core/SystemSettings/SystemSettings.js")

<div class="mainDiv">
    <h2>System Settings</h2>
    <div id="divMainDivForSystemSettings" class="maindiv">
        <div id="tabstrip">
            <ul>
                <li style="display: none;">
                    Theme & Language
                </li>
                <li class="k-state-active">
                    Login Rule & Policy
                </li>
            </ul>
            <div>
                @Html.Partial("_ThemeLanguage")
            </div>
            <div>
                @Html.Partial("_LoginRulePolicy")
            </div>

        </div>
    
        <div class="divDetails">
            <ul>
                <li  class="accept">
                    <button id ="btnSave" class="k-button" type="submit">Submit</button> &nbsp;&nbsp;
                    <button id="btnClearAll" class="k-button">Clear All</button>
                </li>
                <li class="status">
                </li>
            </ul>
        </div>
        <br/><br/>
    </div>
    <div class="clear"></div>
</div>

