﻿

<div class="col-md-12">



    <div id="divDoctor" class="form-horizontal">
        <input type="hidden" id="hdnDoctorId" name="DoctorID" value="0" />

        @*<div class="form-group">
            <label for="txtDoctorCode" class="col-md-4">Doctor Code:</label>
            <div class="col-md-8">
                <input type="text" id="txtDoctorCode" disabled="disabled" name="DoctorCode" class="k-textbox" placeholder="Doctor code" />
            </div>
        </div>*@

        <div class="form-group">
            <label for="txtDoctorName" class="col-md-4  ">Doctor Name:</label>
            <div class="col-md-8">
                <input type="text" id="txtDoctorName" name="DoctorName" class="k-textbox" required title="Doctor name is required" placeholder="Enter Doctor name" />
            </div>
        </div>
        <div class="form-group">
            <label for="txtDoctorTitle" class="col-md-4  ">Doctor Title:</label>
            <div class="col-md-8">
                <input type="text" id="txtDoctorTitle" name="Degree" class="k-textbox" placeholder="Enter Doctor Title" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtContactNo" class="col-md-4  ">Contact No:</label>
            <div class="col-md-8">
                <input type="text" id="txtContactNo" name="ContactNo" class="k-textbox" placeholder="Enter mobile number" />
            </div>
        </div>

        @*<div class="form-group">
                <label for="txtDoctorEmail" class="col-md-2  ">Email:</label>
                <div class="col-md-8">
                    <input type="email" id="txtDoctorEmail" name="DoctorEmail" class="k-textbox" placeholder="Enter email..." />
                </div>
            </div>*@

        @*<div class="form-group">
            <label for="txtDoctorAddress" class="col-md-4  ">Contact No:</label>
            <div class="col-md-8">
                <input type="text" id="txtContactNo" name="ContactNo" class="k-textbox" placeholder="Enter address" />
            </div>
        </div>*@
        <div class="form-group">
         
                <label for="txtDoctorAddress" class="col-md-4  ">Address:</label>

         
            <div class="col-md-8">
                <input type="text" id="txtDoctorAddress" name="Address" class="k-textbox" placeholder="Enter address" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">

                <div class="col-md-offset-5 col-md-7">
                    <button type="button" id="btnSaveChanges" class="btn btn-raised g-bg-cyan ">Save Changes</button>
                    <button type="button" id="btnClear" class="btn btn-raised">Clear</button>
                    @*<button type="button" id="btnDelete" class="btn btn-raised">Delete</button>*@
                    <button type="button" id="btnCloseWindow" class="btn btn-raised">Close</button>


                </div>
            </div>
        </div>
    </div>



</div>

