﻿
@{
    ViewBag.Title = "Doctor";
    //Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}

<script src="~/ViewJS/PatientQ/Doctor/Doctor.js"></script>

<div class="k-block">
    <div class="k-header">Doctor</div>
    <button type="button" id="btnAddDoctor" class="btn btn-raised g-bg-cyan " title="Add Doctor"><span class="glyphicon glyphicon-plus"></span>Add New</button>

    @*<button type="button" id="btnPrintDoctorSummary" class="btn btn-default "><span class="glyphicon glyphicon-print"></span>Print</button>*@
    <br />
    <br />


    <div id="gridDoctor"></div>
    <div id="wndDoctorInfo" title="Doctor Info" style="display: none">
        @Html.Partial("Doctor/_CreateDoctor")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        doctorManager.init();
    });
</script>

 