﻿<section class="content email-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="body mail-single">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-attachment-alt"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-google-drive"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-collection-folder-image"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-link"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-mood"></i></button>
                            <button type="button" class="btn btn-raised bg-red waves-effect custom col-white"><i class="zmdi zmdi-delete"></i></button>
                        </div>
                        <div class="col-lg-12">
                            <h3 class="m-t-0">Lorem reprehenderit</h3>
                            <div class="media">
                                <div class="m-r-20">
                                    <div class="thumb thumb-md"> <img class="" src="assets/images/random-avatar7.jpg" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <p class="m-b-0"> <span class="text-muted">from</span> <a href="javascript:;" class="text-default">woodwalton@orbaxter.com</a> <span class="text-muted text-sm pull-right">16:54, 24.04.2017</span> </p>
                                    <p class="m-b-0"><span class="text-muted">to</span>Me</p>
                                    <p class="m-b-0 text-sm"><span class="text-muted"><i class="zmdi zmdi-attachment-alt"></i></span>(2 files, 89.2 KB)</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-lg-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing anden an unknown printer took a galley of type and scrambled it to make a type specimen book. It haenturies, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <hr>
                        </div>
                        <div class="col-lg-12">
                            <div class="thumb thumb-xxl">
                                <div class="thumb-header"><i class="zmdi zmdi-attachment-alt"></i> images1.jpg</div>
                                <div class="thumb-body bg-white"> <a href="assets/images/puppy-1.jpg"><img src="assets/images/puppy-1.jpg" alt=""></a> </div>
                            </div>
                            <div class="thumb thumb-xxl">
                                <div class="thumb-header"><i class="zmdi zmdi-attachment-alt"></i> images2.jpg</div>
                                <div class="thumb-body bg-white"> <a href="assets/images/puppy-3.jpg"><img src="assets/images/puppy-3.jpg" alt=""></a> </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel-heading m-t-20">
                                <div class="m-b-10 m-t-10">
                                    Click here to <a href="mail-compose.html">Reply</a> or <a href="mail-compose.html">Forward</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>