﻿<section class="content email-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-12 ">
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-attachment-alt"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-google-drive"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-collection-folder-image"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-link"></i></button>
                            <button type="button" class="btn btn-raised btn-default waves-effect custom"><i class="zmdi zmdi-mood"></i></button>
                            <button type="button" class="btn btn-raised bg-red waves-effect custom col-white"><i class="zmdi zmdi-delete"></i></button>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control">
                                    <label class="form-label">To :</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control">
                                    <label class="form-label">Subject :</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 m-b-20">
                            <p>Content :</p>
                            <textarea id="ckeditor">
                                <h2>WYSIWYG Editor</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper sapien non nisl facilisis bibendum in quis tellus. Duis in urna bibendum turpis pretium fringilla. Aenean neque velit, porta eget mattis ac, imperdiet quis nisi. Donec non dui et tortor vulputate luctus. Praesent consequat rhoncus velit, ut molestie arcu venenatis sodales.</p>
                                <h3>Lacinia</h3>
                                <ul>
                                    <li>Suspendisse tincidunt urna ut velit ullamcorper fermentum.</li>
                                    <li>Nullam mattis sodales lacus, in gravida sem auctor at.</li>
                                    <li>Praesent non lacinia mi.</li>
                                    <li>Mauris a ante neque.</li>
                                    <li>Aenean ut magna lobortis nunc feugiat sagittis.</li>
                                </ul>
                                <h3>Pellentesque adipiscing</h3>
                                <p>Maecenas quis ante ante. Nunc adipiscing rhoncus rutrum. Pellentesque adipiscing urna mi, ut tempus lacus ultrices ac. Pellentesque sodales, libero et mollis interdum, dui odio vestibulum dolor, eu pellentesque nisl nibh quis nunc. Sed porttitor leo adipiscing venenatis vehicula. Aenean quis viverra enim. Praesent porttitor ut ipsum id ornare.</p>
                            </textarea>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-raised btn-success waves-effect">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>