﻿
<div class="k-block">
    <h3 class="k-header">Customer Type Information Form</h3>

    <div id="divCustomerType" class="form-horizontal">
        <input type="hidden" id="hdnCustomerTypeId" name="CustomerTypeId" value="0" />

        <div class="form-group">
            <label for="cmbCustomerType" class="col-sm-2 control-label">Customer Type:</label>
            <div class="col-sm-8">
                <input type="text" id="cmbCustomerType" name="CustomerType" class="form-control" />
            </div>

        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="btnSaveChanges" class="btn btn-primary">Save Changes</button>
                <button type="button" id="btnCloseWindow" class="btn btn-default">Close</button>
            </div>

        </div>

    </div>
</div>

