﻿
@{
    ViewBag.Title = "Customer Type";
}

<script src="~/ViewJS/CustomerType/CustomerType.js"></script>

<div>
    <input type="button" id="btnAddCustomerType" value="Add Customer Type" class="btn btn-primary" />

    <div id="gridCustomerType"></div>
    <div id="wndCustomerType" title="Customer Type Info" style="display: none">
        @Html.Partial("_CreateCustomerType")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        CustomerTypeManager.init();
    });
</script>