﻿@Scripts.Render("~/Scripts/eAzolution/Core/Group/GroupSummary.js")
<div class="leftDiv leftDivForGroup">
    <div class="divDetails">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl">Company Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="groupSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>
    <div id="gridGroup"></div>
    <div class="clear"></div>
</div>