﻿

<div class="k-block">

    <div id="divOfficeUser" class="form-horizontal">

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                <input type="hidden" name="OfficeUserId" value="0" />
                <div class="form-group">
                    <label for="cmbUserType" class="col-sm-2 control-label">User Type:</label>
                    <div class="col-sm-8">
                        <input type="text" id="cmbUserType" name="UserTypeId" class="k-combobox" placeholder="Select user type..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtDisplayName" class="col-sm-2 control-label">Display Name:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtDisplayName" name="DisplayName" class="form-control" placeholder="Insert Display Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtLoginId" class="col-sm-2 control-label">Login Id:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtLoginId" name="LoginId" class="form-control" placeholder="Insert Login Id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPassword" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="txtPassword" name="Password" class="form-control" placeholder="Insert Password" />
                    </div>
                </div>
            </div>
        </div>

        

    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <button type="button" id="btnSaveChanges" class="btn btn-primary">Save Changes</button>
                    <button type="button" id="btnClearFields" class="btn btn-primary">Clear</button>
                    <button type="button" id="btnCloseWindow" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
