﻿
@{
    ViewBag.Title = "Office User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ViewJS/OfficeUser/OfficeUser.js"></script>


<div>
    <input type="button" id="btnAddNewOfficeUser" value="Add Office User" class="btn btn-primary" />

    <div id="gridOfficeUser"></div>

    <div id="wndOfficeUser" style="display: none">
        @Html.Partial("_CreateOfficeUser")
    </div>
</div>

<div class="clearfix"></div>

<script type="text/javascript">

    $(document).ready(function () {
        OfficeUserManager.init();
    });
</script>

