﻿


<div class="k-block" id="divBankBranch">
    <div class="row">
        <div class="col-sm-12"></div>
        <div class="col-sm-offset-2 col-sm-6">
            <div id="divBankBranchId" class="form-horizontal">
                <input type="hidden" id="hdnBankBranchId" name="BankBranchId" value="0" />
                

                @*<div class="form-group">
                    <label for="txtBankId" class="col-sm-3 control-label">Bank Id:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtBankId" name="BankId" class="form-control" placeholder="Insert Bank Id" />
                    </div>
                </div>*@
                <div class="form-group">
                    <label for="cmbBank" class="col-sm-3 control-label">Bank:</label>
                    <div class="col-sm-7">
                        <input id="cmbBank" name="BankId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtBranchName" class="col-sm-3 control-label">Branch Name:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtBranchName" name="BranchName" class="form-control" placeholder="Insert Branch Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtBranceAddress" class="col-sm-3 control-label">Brance Address:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtBranceAddress" name="BranceAddress" class="form-control" placeholder="Insert Brance Address" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtPhoneNo" class="col-sm-3 control-label">Phone No:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtPhoneNo" name="PhoneNo" class="form-control" placeholder="Insert Phone No"/>

                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

            <div class="col-sm-offset-5 col-sm-8">
                <button type="button" id="btnSaveChangesBankBranch" class="btn btn-primary">Save Changes</button>
                <button type="button" id="btnClearBankBranch" class="btn btn-default">Clear</button>
                <button type="button" id="btnCloseWindowBankBranch" class="btn btn-default">Close</button>

            </div>
        </div>
    </div>
</div>

