﻿
@{
    ViewBag.Title = "Bank Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ViewJS/BankBranch/BankBranch.js"></script>

<div>
    <input type="button" id="btnAddBankBranch" value="Add BankBranch" class="btn btn-primary" />

    <div id="gridBankBranch"></div>
    <div id="wndBankBranch" title="Bank Branch Info" style="display: none">
        @Html.Partial("_CreateBankBranch")
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        BankBranchManager.init();
    });
</script>
    