﻿

<div class="k-block">
    @*<h3 class="k-header">Customer Information Form</h3>*@
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-offset-2 col-sm-10">
            <div id="divCustomer" class="form-horizontal">
                <input type="hidden" id="hdnCustomerId" name="PatientId" value="0" />

                <div class="form-group">
                    <label for="txtPatientNo" class="col-sm-2 control-label">Patient Code:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtPatientNo" disabled="disabled" name="PatientNo" class="form-control" placeholder="Enter Patient code" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtCustomerName" class="col-sm-2 control-label">Patient Name:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtCustomerName" name="PatientName" class="form-control" required title="Customer name required" placeholder="Enter Patient name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtContactNo" class="col-sm-2 control-label">Contact No:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtContactNo" name="ContactNo" class="form-control" placeholder="Enter mobile number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtSex" class="col-sm-2 control-label">Sex:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtSex" name="Sex" class="form-control" placeholder="Sex"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtAge" class="col-sm-2 control-label">Age:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtAge" name="Age" class="form-control" placeholder="Age" />
                    </div>
                </div>

                @*<div class="form-group">
                    <label for="txtCustomerEmail" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" id="txtCustomerEmail" name="CustomerEmail" class="form-control" placeholder="Enter email..."  />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtCustomerAddress" class="col-sm-2 control-label">Address:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtCustomerAddress" name="CustomerAddress" class="form-control" placeholder="Enter address" />
                    </div>
                </div>*@

                @*<div class="form-group">
                    <label for="cmbCustomerTypeName" class="col-sm-2 control-label">Patient Type:</label>
                    <div class="col-sm-8">
                        <input type="text" id="cmbCustomerTypeName" name="CustomerTypeId" class="k-combobox" placeholder="Select Patient type..." />
                    </div>
                </div>*@


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

                <div class="col-sm-offset-5 col-sm-7">
                    <button type="button" id="btnSaveChanges" class="btn btn-primary">Save Changes</button>
                    <button type="button" id="btnClear" class="btn btn-default">Clear</button>
                    <button type="button" id="btnCloseWindow" class="btn btn-default">Close</button>
                   

            </div>
        </div>
    </div>
</div>

