﻿
@{
    ViewBag.Title = "Patient";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


 
<script src="~/ViewJS/PatientQ/PatientInfo/Customer.js"></script>
<script src="~/ViewJS/PatientQ/PatientInfo/CustomerType.js"></script>

<div class="k-block">
    <div class="k-header">Patient Information Setup</div>
    <button type="button" id="btnAddCustomer" class="btn btn-primary " title="Add Customer"><span class="glyphicon glyphicon-plus"></span>Add Patient</button>

    <button type="button" id="btnPrintCustomerSummary" class="btn btn-default "><span class="glyphicon glyphicon-print"></span>Print</button>
    <br />
    <br />


    <div id="gridCustomer"></div>
    <div id="wndCustomerInfo" title="Customer Info" style="display: none">
        @Html.Partial("Patient/_CreatePatient")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        customerManager.init();
    });
</script>