﻿


<div class="k-block" id="divBankInfo">
    <div class="row">
        <div class="col-sm-12"></div>
        <div class="col-sm-offset-2 col-sm-6">
            <div id="divBankId" class="form-horizontal">
                <input type="hidden" id="hdnBankId" name="BankId" value="0" />

                <div class="form-group">
                    <label for="txtBankName" class="col-sm-3 control-label">Bank Name:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtBankName" name="BankName" class="form-control" placeholder="Insert Bank Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtBankAddress" class="col-sm-3 control-label">Bank Address:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtBankAddress" name="BankAddress" class="form-control" placeholder="Insert Bank Address" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtPhoneNo" class="col-sm-3 control-label">Phone No:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtPhoneNo" name="PhoneNo" class="form-control" placeholder="Phone No" />

                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

            <div class="col-sm-offset-5 col-sm-8">
                <button type="button" id="btnSaveChangesBank" class="btn btn-primary">Save Changes</button>
                <button type="button" id="btnClearBank" class="btn btn-default">Clear</button>
                <button type="button" id="btnCloseWindowBank" class="btn btn-default">Close</button>

            </div>
        </div>
    </div>
</div>

