﻿@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/BankInfo/BankInfo.js"></script>

<div>
    <input type="button" id="btnAddBankInfo" value="Add BankInfo" class="btn btn-primary" />

    <div id="gridBankInfo"></div>
    <div id="wndBankInfo" title="BankInfo" style="display: none">
        @Html.Partial("_CreateBankInfo")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        BankInfoManager.init();
    });
</script>