﻿
@{
    ViewBag.Title = "Hospital/Clinic/Diagonstic Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="~/ViewJS/PatientQ/Hospital/HospitalRegistration.js"></script>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 single_doctor">
        <div class="alert alert-info" role="alert" style="text-align:justify;">
        </div>
        <h4 class="text-info">Hospital/Clinic/Diagonstic Registration Form</h4><hr>
        <div class="registration_form form-horizontal">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Name</label>
                </div><div class="col-md-8">
                    <input type="search" class="form-control input-sm name" placeholder="Organization Name" name="name">
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Banner Image</label>
                </div>
                <div class="col-md-8">
                    <input type="file" name="image" size="50">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Mobile No</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span style="padding:6px 2px 6px 12px;" class="input-group-addon" id="sizing-addon2">
                            <strong>+88 01</strong>
                        </span><input type="search" class="form-control mobile input-sm" placeholder="(It will be login id)" name="mobile" maxlength="9"><span class="input-group-btn"><a href="javascript:void(0)" class="btn btn-success btn-sm send_verification">Get Verification Code</a></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><label class="doc_name">Verification Code</label></div><div class="col-md-8">
                    <input type="text" class="form-control verification_code input-sm" placeholder="(Code that sent to your mobile no.)" name="verification">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Email Address</label>
                </div><div class="col-md-8">
                    <input type="search" class="form-control email input-sm" placeholder="(Email address)" name="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Phone No</label>
                </div><div class="col-md-8">
                    <input type="search" class="form-control phone input-sm" placeholder="(Work phone numbers)" name="phone">
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4">
                    <label class="doc_name">Description</label>
                </div>
                <div class="col-md-8">
                    <textarea class="descriptions input-sm form-control" name="description" placeholder="Description of Organization" style="height:100px; resize:vertical;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-4"><label></label></div>
                    <div class="col-md-8">
                        <button type="submit" id="upload" class="btn btn-success btn_cancel">Next</button>
                    </div>
                </div>
            </div>
        </div><div class="col-md-3"></div>
    </div>

</div>

<div id="divUser" class="hidden">
    @Html.Partial("~/Views/PatientQ/User/_UserForm.cshtml")
</div>
