﻿@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/DottedLineEmailConfig/DottedLineEmailConfigDetails.js")



<div id="divDottedLineEmailConfig" class="divDetails">
    @*<fieldset class="k-content">
        <legend class="k-fontSize[15]">Dotted Line Email Configuration</legend>*@


        <ul>
            <li>
                <input type="hidden" id="hdDottedLineConfigurationId" value="0" />
                @*
                    <label for="cmbModuleName" class="lbl widthSize20_per">Module Name:</label>
                    <input id="cmbModuleName" value="" />*@
            </li>

            <li>
                <label for="cmbSendType" class="lbl widthSize5_per">Send Type :</label>
                <input id="cmbSendType" />

                <label for="EmployeeId" class="lbl widthSize10_per rightAlign">Employee ID :</label>
                <input type="hidden" id="hdnHrRecordId" value="0" />
                <input type="text" id="txtEmployeeId" name="EmployeeId" class="k-textbox" placeholder="Enter a Employee Id" required validationmessage="Please enter a Employee Id" />


                @*<label for="EmployeeName" class="lbl widthSize10_per rightAlign">Employee Name:</label>*@
                <input type="text" id="txtEmployeeName" name="EmployeeName" class="k-textbox" placeholder="Employee Name" disabled="disabled" />

                <button id="btnRemoveAll" class="k-button" type="button">Remove All</button>
            </li>
            <li>

                <div id="gridDottedLineEmailConfig"></div>

            </li>



            <li class="accept">
                <button id="btnSave" class="k-button" type="button">Save</button>
                &nbsp;&nbsp;
                <button id="btnClearAll" class="k-button" type="button">Clear</button>
                &nbsp;&nbsp;
                <button id="btnCloseDottedLineSettings" class="k-button" type="button">Close</button>
            </li>
            <li class="status"></li>
        </ul>
    @*</fieldset>*@
</div>

<div id="windPeerGroup" class="displayNone divDetails">

    <ul>


        <li>
            <div>
                <label class="lbl widthSize10_per rightAlign">Employee ID :</label>
                <input type="text" id="txtPeerEmployeeId" class="k-textbox" placeholder="Enter a Employee Id" required title="Please enter a Employee Id"/>
                <input type="text" id="txtPeerEmployeeName" class="k-textbox" placeholder="Employee Name" disabled="disabled"/>
                <input type="hidden" id="hdnPeerHrRecordId" value=""/>

                <button id="btnAddPeerEmployee" class="k-button" type="button">Add Employee To Peer</button>
            </div>

        </li>
        <li>
            <div id="gridPeerGroupEmployee"></div>
        </li>


    </ul>


</div>


<div id="windCompanyLocation" class="displayNone divDetails">

    <ul>

        <li>
            <div id="gridCompany"></div>
        </li>

    </ul>


</div>