﻿
@{
    ViewBag.Title = "Picture Upload Index";
}

<script src="~/ViewJS/PictureUpload/PictureUpload.js"></script>

<h2>Picture Upload</h2>

<div id="wndPictureUpload">

    <div class="row">
        
        <div style="border: 0;" id="divPictureUpload">

            <input type="hidden" id="hdnPictureId" />

            <div class="form-group clearfix">
                <label for="txtPictureCode" class="col-sm-2 control-label">Picture Code:</label>
                <div class="col-sm-8">
                    <input type="text" id="txtPictureCode" name="PictureCode" class="form-control" />
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="clearfix">

                <label class="col-sm-2 control-label"></label>
                <div id="divPicture" class="col-sm-8 picture-size" style=" border: 1px solid">
                    <img alt="Profile Picture" id="showPicture" class="picture-size">
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="col-sm-2 control-label clearfix" id="PictureBrowseDiv">
                <label class="col-sm-2 control-label"></label>
                
                <input type="file" id="Picturefiles" name="files" data-role="upload" autocomplete="off">
            </div>

            <input type="hidden" id="hdnPicture" />

        </div>

    </div>
    <div class="clearfix"></div>

    @*_________ grid ___________ *@

    <div id="gridPicture"></div>

    <div class="clearfix"></div>

    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <button type="button" id="btnSaveChangesPicture" class="btn btn-primary">Save Changes</button>
                    <button type="button" id="btnClearPictureFields" class="btn btn-default">Clear</button>
                    <button type="button" id="btnCloseWindowPicture" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        UploadPictureManager.init();
    });
</script>