﻿
@{
    ViewBag.Title = "Product Sales Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <input type="button" id="btnAddProductSalesDetails" value="Add Product Sales Details" class="btn btn-primary" />

    <div id="gridProductSalesDetails"></div>
    <div id="wndProductSalesDetails" title="Product Sales Details Info" style="display: none">
        @Html.Partial("_CreateProductSalesDetails")
    </div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        ProductSalesDetailsManager.init();
    });
</script>*@