﻿.k-block {
    background-color: white !important;
}

    .k-block > .k-header {
        height: 2em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.2px;
        color: #5a7986 !important;
        font-size: 14px;
    }

.k-window-titlebar {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #5a7986 !important;
}

.form-group {
    margin-bottom: 5px;
}

.form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.k-combobox {
    width: 60%;
}

.clear {
    clear: both
}

/*.k-block {
    min-width: 720px;
}*/
html, body {
    font-size: 12px !important;
}
/*.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, k-dropdown, .k-selectbox, .k-textbox {
    min-width: 5.4em !important;
    width: 70% !important;
}*/
#inVoice .k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox {
    min-width:15.4em !important;
    width: 30% !important;
}

#divProductSales .k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox {
    min-width:11.4em !important;
    width: 30% !important;
}

#inVoice .k-datetimepicker, .k-numerictextbox  {
      width: 40% !important;
}
.form-control{
    font-size:12px;
}
.single_doctor{
    background-color:white !important;
}
.health-counter {
    margin-top: 5%;
}
.topNab-banner {
    background: linear-gradient(85deg, #313042, #110a7e);
    border-color: #fff;
    border-width: 2px;
}
.logo-img {
    margin-top: -15px;
    height: 50px;
    width: 110px;
}

.navbar-default {
    background-color: #fdfdfd;
    border-color: #1712f3;
    border-top-color: rgb(23, 18, 243);
    border-right-color: rgb(23, 18, 243);
    border-bottom-color: rgba(255, 174, 174, 0.7);
    border-left-color: rgb(23, 18, 243);
}
.health-defination {
    margin-top: 363px;
    font-size: 14px;
    color: #337ab7;
    font-weight: bold
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver;
}

.text-on-pannel {
  xbackground: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -50px;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin: 15px !important;
}

.panel-body {
  padding-top: 30px !important;
}