﻿




<div class="col-sm-10">
    <div class="card">
        <div class="body">
            <div id="divRoleId" class="row clearfix">
                <input type="hidden" id="hdnRoleId" name="RoleId" value="0" />
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtRoleName" class="col-sm-4 control-label">Role:</label>

                        <div class="col-sm-8">
                            <input type="text" id="txtRoleName" name="RoleName" class="k-textbox" placeholder="Role Name" />
                        </div>
                    </div>
                </div>

                @*<div class="col-sm-12">
                    <div class="form-group">
                        <input type="checkbox" name="UseRole" id="chkUseRole" >
                        <label for="UseRole">Is Enable?</label>
                    </div>

                </div>*@
            </div>
        </div>
        <div class="col-sm-12">
           
                <button type="button" id="btnSaveChangesRole" class="btn btn-raised g-bg-cyan" >Save Changes</button>
                <button type="button" id="btnClearRole" class="btn btn-raised">Clear</button>
                <button type="button" id="btnCloseWindowRole" class="btn btn-raised">Close</button>

             
        </div>
    </div>





</div>
