﻿@*@Scripts.Render("~/Scripts/eAzolution/Core/Group/GroupPermision.js")*@
<div id="divGroupPermision">
    <div class="divDetails">
        <ul>
            <li>
                <label for="cmbApplicationForModule" class="">Application:</label>
                <input id="cmbApplicationForModule" value=""/>
            </li>
        </ul>
    </div>
    <br />
    @Html.Partial("_MenuPermision")
</div>