﻿@*@Scripts.Render("~/Scripts/eAzolution/Core/Group/GroupInfo.js")*@

<div id="divGroupId">
    <div class="divDetails">
        <ul>
        
            <li>
                <label for="CompanyName" class="lbl">Company Name:</label>
                <input type="hidden" id="hdnGroupId" value="0"/>
                <input id="cmbCompanyName" name="CompanyName" placeholder="Comapny name" value="" required validationMessage="Please enter {0}"/>
            </li>
            <li>
                <label for="GroupName" class="lbl">Group Name:</label>
                <input type="text" id="txtGroupName" name="GroupName" class="k-textbox" placeholder="Group name" required validationMessage="Please enter {0}" />
            </li>
            <li>
                <label for="Application" class="lbl">Application:</label>
                <div id="dynamicCheckBoxForModule">
                    
                </div>
            </li>
        </ul>
    </div>
</div>