﻿@{
    ViewBag.Title = "Role";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/ViewJS/Core/Role/Role.js"></script>


<div class="k-block">
    <div class="k-header">Role Setup</div>
    <input type="button" id="btnAddRole" value="Add Role" class="btn btn-raised g-bg-cyan" />

    <div id="gridRole"></div>
    <div id="wndRole" title="Role" style="display: none">
        @Html.Partial("Role/_CreateRole")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        RoleManager.init();
    });
</script>
