﻿@{
    ViewBag.Title = "Group Settings";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<script src="~/ViewJS/Core/Role/GroupSettings.js"></script>
<script src="~/ViewJS/Core/Role/GroupPermision.js"></script>
<script src="~/ViewJS/Core/Role/GroupInfo.js"></script>
<script src="~/ViewJS/Core/Role/GroupDetails.js"></script>
<script src="~/ViewJS/Core/Role/GroupSummary.js"></script>
<script src="~/ViewJS/Core/Role/ReportPermission.js"></script>
<script src="~/ViewJS/Core/Role/StatePermision.js"></script>
<script src="~/ViewJS/Core/Role/ActionPermision.js"></script>
<script src="~/ViewJS/Core/Role/AccessControlPermision.js"></script>
<script src="~/ViewJS/Core/Role/MenuPermision.js"></script>

<div class="mainDiv">
    <h2>Group Settings</h2>
    @Html.Partial("_RoleSummary")
    @Html.Partial("_RoleDetails")
    <div class="clear"></div>
</div>

