﻿

.menuBardemoDynamicNestedMenus .page-container {
  padding: 32px; }

.menuBardemoDynamicNestedMenus .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoDynamicNestedMenus .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoDynamicNestedMenus .page p {
  line-height: 1.6rem; }

