﻿
<div class="k-block">
    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div id="divClientInfo" class="form-horizontal">
                <input type="hidden" id="hdnClientId" name="ClientId" value="0" />

                <div class="form-group">
                    <label for="txtCilentName" class="col-sm-2 control-label">Cilent Name:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtCilentName" name="CilentName" class="form-control" placeholder="Cilent name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtClientAddress" class="col-sm-2 control-label">Client Address:</label>
                    <div class="col-sm-8">
                        <textarea id="txtClientAddress" name="ClientAddress" class="form-control"  placeholder="Client address"></textarea> @*required title="Client address required"*@
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtPhone" class="col-sm-2 control-label">Phone No:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtPhone" name="Phone" class="form-control" placeholder="Phone number" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtClientEmail" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" id="txtClientEmail" name="Email" class="form-control" placeholder="Email address" required="" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cmbBusinessTypeId" class="col-sm-2 control-label">Business Type:</label>
                    <div class="col-sm-8">
                        <input type="text" id="cmbBusinessTypeId" name="BusinessTypeId" class="k-combobox" placeholder="Business type" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <button type="button" id="btnSaveClientInfo" class="btn btn-primary">Save Changes</button>
                    <button type="button" id="btnClearFieldsClientInfo" class="btn btn-default">Clear</button>
                    <button type="button" id="btnCloseWindowClientInfo" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

