﻿

<div class="k-block">

    <div id="divClientUser" class="form-horizontal">

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="hidden" id="hdnClientUserId" name="ClientUserId" value="0" />

                <div class="form-group">
                    <label for="txtDisplayName" class="col-sm-2 control-label">Display Name:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtDisplayName" name="DisplayName" class="form-control" placeholder="Insert Display Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtLoginId" class="col-sm-2 control-label">Login Id:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtLoginId" name="LoginId" class="form-control" required title="Client address required" placeholder="Insert Login Id" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtPassword" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="txtPassword" name="Password" class="form-control" placeholder="Insert Password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPhone" class="col-sm-2 control-label">Phone No:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtPhone" name="Phone" class="form-control" placeholder="Phone number" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtClientEmail" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" id="txtClientEmail" name="Email" class="form-control" placeholder="Email address" required="" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cmbUserTypeName" class="col-sm-2 control-label">User Type:</label>
                    <div class="col-sm-8">
                        <input type="text" id="cmbUserTypeName" name="UserTypeId" class="k-combobox" placeholder="Select User Type" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button type="button" id="btnSaveChangesClientUser" class="btn btn-primary">Save Changes</button>
                        <button type="button" id="btnClearFieldsClientUser" class="btn btn-default">Clear</button>
                        <button type="button" id="btnCloseWindowClientUser" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>