﻿

@*@{
    ViewBag.Title = "Client User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/ClientUser/ClientUser.js"></script>

<div>
    <input type="button" id="btnAddNewClientUser" value="Add Client User" class="btn btn-primary" />

    <div id="gridClientUser"></div>

    <div id="wndClientUser" title="Client User" style="display: none">
        @Html.Partial("_CreateClientUser")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ClientUserManager.init();
    });
</script>*@