﻿
@{
    ViewBag.Title = "Client";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/ClientInfo/ClientInfo.js"></script>
<script src="~/ViewJS/ClientUser/ClientUser.js"></script>

<!--------tab start----------->

<div id="tabs">
    <ul>
        <li class="k-state-active">Client Info</li>
        <li>Client User</li>
    </ul>

    <div id="ClientInfo">
        <div>
            <input type="button" id="btnAddNewClient" value="Add Client" class="btn btn-primary" />
            <button type="button" id="btnPrintClientSummary" class="btn btn-primary "><span class="glyphicon glyphicon-print"></span>Print Summary</button>

            <div id="gridClientInfo"></div>

            <div id="wndClientInfo" title="Client Info" style="display: none">
                @Html.Partial("_CreateClientInfo")
            </div>
        </div>
    </div>

    <div id="ClientUser">
        <div>
            <input type="button" id="btnAddNewClientUser" value="Add Client User" class="btn btn-primary" />
            <button type="button" id="btnPrintClientUserSummary" class="btn btn-primary "><span class="glyphicon glyphicon-print"></span>Print Summary</button>
            <div id="gridClientUser"></div>

            <div id="wndClientUser" title="Client User" style="display: none">
                @Html.Partial("_CreateClientUser")
            </div>
        </div>
    </div>
</div>

<!----------tab end----------->


<script type="text/javascript">
    $(document).ready(function () {
        ClientInfoManager.init();
        ClientUserManager.init();
    });
</script>