﻿<div class="col-sm-10">
    @*<div class="row">*@

    @*<div class="col-sm-4 "></div>
        <div class="col-sm-10">*@
    <div id="divUserInfo" class="form-horizontal">
        @*<input type="hidden" id="hdnUserId" name="UserId" value="0" />*@
        <input type="hidden" id="hdnGuiID" name="Id" value="0" />


        <div class="form-group">
            <label for="txtDisplayName" class="col-sm-4  control-label">Display Name:</label>
            <div class="col-sm-8">
                <input type="text" id="txtDisplayName" name="UserName" class="k-textbox" placeholder="Display Name" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtLoginId" class="col-sm-4  control-label">Login Id:</label>
            <div class="col-sm-8">
                <input type="text" id="txtLoginId" name="LoginId" class="k-textbox" required="" title="Login ID" placeholder="Login ID" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtPassword" class="col-sm-4  control-label">Password:</label>
            <div class="col-sm-8">
                <input type="password" id="txtPassword" name="Password" class="k-textbox" placeholder="Password" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtUserEmail" class="col-sm-4  control-label">Email:</label>
            <div class="col-sm-8">
                <input type="email" id="txtUserEmail" name="Email" class="k-textbox" placeholder="Email address" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtPhone" class="col-sm-4  control-label">Phone:</label>
            <div class="col-sm-8">
                <input type="text" id="txtPhone" name="Phone" class="k-textbox" placeholder="Phone number" />
            </div>
        </div>

        <div class="form-group">
            <label for="cmbUserType" class="col-sm-4  control-label">User Type:</label>
            <div class="col-sm-8">
                <input type="text" id="cmbUserType" name="UserTypeId" class="k-combobox" placeholder="Select user type..." />
            </div>
        </div>

        <div class="form-group">
            <label for="chkIsActive" class="col-sm-4  control-label">Is Active:</label>
            <div class="col-sm-8">
                <input type="checkbox" id="chkIsActive" name="IsActive" />
            </div>
        </div>
    </div>
    @*</div>*@

    @*</div>*@

    @*<div class="row">*@
    @*<div class="col-sm-4 "></div>*@
    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="btnSaveChanges" class="btn btn-raised g-bg-cyan">Save Changes</button>
                <button type="button" id="btnClear" class="btn btn-raised">Clear</button>
                <button type="button" id="btnCloseWindow" class="btn btn-raised">Close</button>
            </div>
        </div>
    </div>
    @*<div class="col-sm-4"></div>*@
</div>

@*</div>*@

