﻿
@{
    ViewBag.Title = "ChangePasswod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ViewJS/Core/UserInfo/ChangePassword.js"></script>

<div class="table-struct full-width full-height">
    <div class="table-cell vertical-align-middle">
        <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row" style="border:2px solid #E91E63">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div id="divResetPass">
                            <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_1">Old Password</label>
                                <input type="password" name="OldPassword" class="form-control" required="" id="exampleInputpwd_1" placeholder="Enter pwd">
                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_2">New Password</label>
                                <input type="password" name="NewPassword" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter New pwd">
                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_3">Confirm Password</label>
                                <input type="password" name="ConfirmPassword" class="form-control" required="" id="exampleInputpwd_3" placeholder="Re-Enter pwd">
                            </div>
                            <div class="form-group text-center">
                                <button type="button" id="btnReset" class="btn btn-info btn-rounded">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>