﻿@{
    ViewBag.Title = "User Settings";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/ViewJS/UserInfo/UserInfo.js"></script>*@
<script src="~/ViewJS/Core/UserInfo/UserInfo.js"></script>

<div class="k-block">
    <div class="k-header">Users</div>
    <input type="button" id="btnAddUserInfo" value="Add UserInfo" class="btn btn-raised g-bg-cyan" />

    <div id="gridUserInfo"></div>
    <div id="wndUserInfo" title="User Info" style="display: none">
        @Html.Partial("UserInfo/_CreateUserInfo")
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        UserInfoManager.init();

    });
</script>

