﻿
<div id="divProductSales">
    <input type="hidden" id="hdnPatientTestId" name="PatientTestId" value="0" />


    <div class="panel panel-primary">
        <div class="panel-body">
            <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> <span class="label label-info">Patient Information</span> </strong></h3>
            <div class="col-sm-12">
                <div id="divPrdSlsMaster">
                    <table class="k-table">
                        <tr>
                            <th>
                                <label for="txtInvoiceNo">Invoice No:</label>
                            </th>

                            <th>
                                <label for="dateTimeSalesDate">Date<sup>*</sup>:</label>

                            </th>

                            <th>
                                <label for="txtPhone">Phone:</label>
                            </th>
                            <th>
                                <label for="txtCustomerName">Patient Name<sup>*</sup>:</label>
                            </th>
                            <th>
                                <label for="cmbPateintSex">Sex<sup>*</sup>:</label>

                            </th>
                            <th>
                                <label for="txtPatientAge">Age:</label>

                            </th>

                        </tr>
                        <tr>
                            <td>

                                <input type="text" id="txtInvoiceNo" name="InvoiceNo" class="form-control k-textbox" disabled="" />

                            </td>

                            <td>

                                <input type="text" id="dateTimeSalesDate" name="SalesDate" placeholder="Date" required />

                            </td>



                            <td>

                                <input type="text" id="txtPhone" name="Phone" class="form-control k-textbox" placeholder="Phone no."  title="Enter a contact no" />

                            </td>

                            <td>
                                <input type="hidden" value="0" id="hdnPatientId"/>
                                <input type="text" id="txtCustomerName" name="CustomerName" class="form-control k-textbox" placeholder="Patient Name" title="Enter Patient Name" required />

                            </td>

                            <td>
                                <div>
                                    <input id="cmbPateintSex" name="PateintSex" required title="Select a gender" />

                                </div>


                            </td>
                            <td>

                                <input type="text" id="txtPatientAge" name="PatientAg" class="form-control k-textbox" placeholder="Age" title="Enter age" />

                            </td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> <span class="label label-info">Test Details</span> </strong></h3>

                    <div id="divProductSalesDetails" class="form-horizontal">
                        <table class="k-table">
                            <tr>
                                <th>
                                    <label for="cmbRefdBy">Refd. By:</label>

                                </th>
                                <th>
                                    <label for="txtBarcode">Test:</label>
                                </th>

                                <th>
                                    <label for="ntSalesPrice">Amount:</label>
                                </th>

                                <th></th>
                            </tr>
                            <tr>
                                <td>

                                    <input id="cmbRefdBy" name="DoctorRef"  />

                                </td>
                                <td>
                                    <input type="text" id="txtBarcode" name="Barcode" required title="Select Test Name" />
                                </td>

                                <td>
                                    <input id="ntSalesPrice" name="SalesPrice" placeholder="Amount" disabled />

                                </td>

                                <td>
                                    <button type="button" id="btnAddProdutItem" class="btn btn-raised bg-cyan  waves-effect">Add</button>

                                </td>

                            </tr>


                        </table>
                    </div>

                    <div id="gridProductSalesDetails"></div>
                </div>
            </div>
        </div>
        @*<div class="col-sm-1">
        </div>*@
        <div class="col-sm-5">
            <div class="col-sm-12">

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> <span class="label label-info">Payment Summary</span> </strong>
                        </h3>

                        <div id="inVoice">
                            <table>
                                <tr>
                                    <td class="col-sm-6"><label for="txtTotal" class="control-label">Total Amount:</label></td>
                                    <td>
                                        <div class="col-sm-6">
                                            <input type="number" id="txtTotal" name="Total" disabled/>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-sm-6"><label for="txtDiscount" class="control-label">Discount Amt.:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtDiscount" name="Discount"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label for="txtNetPay" class=" control-label">Net Pay:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtNetPay" name="NetPay" disabled/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label for="txtAdvanceAmount" class="control-label">Paid Amount:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtAdvanceAmount" name="AdvanceAmount" disabled />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-sm-6"><label for="txtDueAmount" class="control-label">Due Amount:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtDueAmount" name="DueAmount" disabled="disabled"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label for="txtReceiveAmount" class="control-label">Receive Amount<sup>*</sup>:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtReceiveAmount" name="ReceiveAmount" required title="Enter paid amount" />
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td class="col-sm-6"><label for="txtReturnAmount" class="control-label">Return Amount:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="number" id="txtReturnAmount" name="ReturnAmount" disabled=""/>
                                        </div>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td class="col-sm-6"><label for="dateDelivery" class="control-label">Delivery Date & Time<sup>*</sup>:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <input type="text" id="txtdateDelivery" name="dateDelivery" placeholder="Date" required/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6"><label for="txtRemarks" class="control-label">Remarks:</label></td>
                                    <td class="col-sm-6">
                                        <div>
                                            <textarea id="txtRemarks" class="k-textbox" name="Remarks" placeholder="Remarks"></textarea>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="col-sm-8">

                        </div>
                    </div>
                </div>

                <div>

                    <button type="button" id="btnSaveChanges" class="btn btn-raised btn-default waves-effect"> <i class="material-icons">save</i> Submit</button>
                    @*<button type="button" id="btnPaid" class="btn btn-raised  waves-effect"> <i class="material-icons">save</i> Paid</button>*@

                </div>


            </div>



        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">



            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>

</div>
