﻿@{
    ViewBag.Title = "Payment Invoice";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/ViewJS/PatientQ/PatientTest/PatientTest.js"></script>
<script src="~/ViewJS/PatientQ/PatientTest/PatientTestDetails.js"></script>
<div class="col-sm-12">


    <div class="k-block">
        <div class="k-header">Payment Invoice</div>


        <div id="wndProductSales">
            <button type="button" id="btnAddProductSales" class="btn  btn-raised btn-primary "><span class="glyphicon glyphicon-plus"></span> Add New</button>
            <button type="button" id="btnHistory" class="btn  btn-raised btn-default"><span class="glyphicon glyphicon-open"></span>History</button>
            <button type="button" onclick="ProductSalesManager.onClickStatementWind()" class="btn btn-raised bg-indigo waves-effect">  Daily Statement</button>
            <input type="search" id="txtSearchInvNo" placeholder="Search by Invoice No " class="k-textbox"  /><button type="button" id="btnSearchInvoiceNo" class="btn btn-raised waves-effect"><i class="zmdi zmdi-search"></i></button>
            <br />
            <br />


            @Html.Partial("PatientTest/_PatientTestForm")
        </div>
        <div id="divGridProduct" style="display: none">
            <button type="button" id="btnCloseWindow" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Close</button>

            <div id="gridProductSales"></div>

        </div>

        <div class="clear"></div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        ProductSalesManager.init();
    });
</script>

<style>
    /*.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox {
        width: 7.00em !important;
    }
    .k-numerictextbox{
        width:4.4em !important;
    }*/
    #f-menu {
        display: none;
    }

    .k-datetimepicker {
        width: 7.00em !important;
    }
    #txtSearchInvNo{
        width:150px;
    }
</style>

<div id="wndStatement">

    <div class="form-horizontal">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="txtDisplayName" class="col-sm-4  control-label">From Date:</label>
                <div class="col-sm-8">
                    <input id="txtFromDate" placeholder="From Date" />
                </div>
            </div>

            <div class="form-group">
                <label for="txtPassword" class="col-sm-4  control-label">To Date:</label>
                <div class="col-sm-8">
                    <input id="txtToDate" placeholder="To Date" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    @*<button type="button" id="btnPrintDailyStatement" class="btn btn-raised g-bg-cyan">Print</button>*@
                    <button type="button" id="btnPrintDailyStatement" class=" btn btn-raised   waves-effect"> <i class="material-icons">print</i> Summary</button>
                    <button type="button" id="btnPrintDailyStatementDetails" class=" btn btn-raised waves-effect"> <i class="material-icons">print</i> Details</button>

                    @*<button type="button" id="btnCloseWindow" class="btn btn-raised">Close</button>*@
                </div>
            </div>



        </div>

    </div>

</div>