﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="pills-struct mt-40  login-page ">
    <div class="tab-content">
        @Html.Partial("_LoginPartial")
    </div>
</div>


