﻿
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="~/ViewJS/Core/Login/forgotPassword.js"></script>
<div class="card">
    <!-- Main Content -->
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                            </div>
                            <div class="col-sm-4 col-xs-4">

                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Need help with your password?</h3>
                                    <h6 class="text-center txt-grey nonecase-font">Enter the email you use for system, and we’ll help you create a new password.</h6>
                                </div>
                                <div class="form-wrap">
                                    @*<form action="#">*@
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="txtEmailId">Email address/login ID</label>
                                        <input type="email" class="form-control" required="" id="txtEmailId" placeholder="Enter email/login ID">
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-info" id="btnReset">Reset</button>
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>

    </div>
    <!-- /Main Content -->
</div>
