﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

 

<div class="col-lg-3">

</div>
<div class="col-lg-6">

    <div class="health-defination">

       "HelthClick" A Complete Online Solution of Human Health

    </div>
    <div class="health-counter">

        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="zmdi zmdi-account col-blue"></i>
                </div>
                <div class="content">
                    <div class="text">Patients</div>
                    <div class="number">27</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="zmdi zmdi-account col-green"></i>
                </div>
                <div class="content">
                    <div class="text">Doctors</div>
                    <div class="number">12</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="zmdi zmdi-bug col-blush"></i>
                </div>
                <div class="content">
                    <div class="text">Hospitals</div>
                    <div class="number">05</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-6">
</div>
