﻿
 
    @*<h3 class="k-header">Product Category Form</h3>*@


    <div class="col-sm-10">
        <div id="divProductCategory" class="form-horizontal">
            <input type="hidden" id="hdnCategoryId" name="CategoryId" value="0" />

            <div class="form-group">
                <label for="cmbParentProductCategory" class="col-sm-4 control-label">Parent Category:</label>
                <div class="col-sm-6">
                    <input id="cmbParentProductCategory" />
                </div>
            </div>

            @*<div class="form-group">
                    <label for="txtCategoryCode" class="col-sm-3 control-label">Category Code:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtCategoryCode" disabled="disabled" name="CategoryCode" class="form-control" />
                    </div>
                </div>*@

            <div class="form-group">
                <label for="txtCategoryName" class="col-sm-4 control-label">Category Name:</label>
                <div class="col-sm-6">
                    <input type="text" id="txtCategoryName" name="CategoryName" class="form-control k-textbox" placeholder="Category"/>
                </div>
            </div>

            <div class="form-group">
                <label for="txtDescription" class="col-sm-4 control-label">Description:</label>
                <div class="col-sm-6">
                    <textarea id="txtDescription" name="Description" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

    </div>



    <div class="col-sm-10">
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="button" id="btnSaveProductCategory" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Save Changes</button>

                <button type="button" id="btnClearProductCategory" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
                <button type="button" id="btnCloseWindowProductCategory" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Close</button>
            </div>
        </div>
    </div>




