﻿
@{
    ViewBag.Title = "Test Category";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/ViewJS/PatientQ/TestInfo/ProductCategory.js"></script>

<div class="k-block">
    <div class="k-header">Test Category Setup</div>

    <button type="button" id="btnAddProductCategory" title="Add Product Category" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add Category</button>
    <br />
    <br />

    <div id="gridProductCategory"></div>

    <div id="wndProductCategory" title="Product Category" style="display: none">
        @Html.Partial("ProductCategory/_CreateProductCategory")
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        ProductCategoryManager.init();
    });
</script>

