﻿<div class="k-block" id="divMenu">
    <div class="row">
        <div class="col-sm-12"></div>
        <div class="col-sm-offset-2 col-sm-6">
            <div id="divMenuId" class="form-horizontal">
                <input type="hidden" id="hdnMenuId" name="MenuId" value="0" />

                <div class="form-group">
                    <label for="txtMenuName" class="col-sm-3 control-label">Menu Name:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtMenuName" name="MenuName" class="form-control" placeholder="Insert Menu Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtMenupath" class="col-sm-3 control-label">Menu Path:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtMenupath" name="Menupath" class="form-control" placeholder="Insert Menu Path" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtParentMenu" class="col-sm-3 control-label">Parent Menu:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtParentMenu" name="ParentMenu" class="form-control" placeholder="Insert Parent Menu" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="UseMenu" class="col-sm-3 control-label">IsActive:</label>
                    <div class="col-sm-7">
                        <input type="checkbox" id="chkUseMenu" name="UseMenu" />
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

            <div class="col-sm-offset-5 col-sm-8">
                <button type="button" id="btnSaveChangesMenu" class="btn btn-primary">Save Changes</button>
                <button type="button" id="btnClearMenu" class="btn btn-default">Clear</button>
                <button type="button" id="btnCloseWindowMenu" class="btn btn-default">Close</button>

            </div>
        </div>
    </div>
</div>

