﻿@{
    ViewBag.Title = "Menu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/ViewJS/Core/Menu/Menu.js"></script>
<div>
    <input type="button" id="btnAddMenu" value="Add Menu" class="btn btn-primary" />

    <div id="gridMenu"></div>
    <div id="wndMenu" title="Menu" style="display: none">
        @Html.Partial("Menu/_CreateMenu")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        MenuManager.init();
    });
</script>
